{{ define "curtidas" }}
<i class="fa-solid fa-heart curtir-publicacao"></i>
<span> {{ .Curtidas }} </span>
{{ end }}

{{ define "editar" }}
<a href="/editar" style="text-decoration: none;"><i class="fa-solid fa-pen-to-square"></i></a>
{{ end }}

{{ define "deletar" }}
<a href="/deletar" style="text-decoration: none;"><i class="fa-solid fa-trash text-danger"></i></a> 
<!--text-danger é uma função do bootstrap que deixa o texto vermelho-->
{{ end }}

{{ define "cabecalho-publicacao" }}
     <h1>{{ .Titulo }}</h1>
     <p class="lead">{{ .Conteudo }}</p>
     <a href="#">{{ .AutorNick }} - {{ .CriadoEm.Format "02/01/2006" }}</a> 
     <!--
       Formatação de hora padrão do Go
       Jan 2 15:04:05 2006
       1   2  3  4  5    6 
     -->
     <hr class="my-4" />
{{ end }}

{{ define "publicacao-com-permissao" }}
     <div class="primaryln text-black p-4 rounded my-4" data-publicacao-id="{{ .ID }}">
       {{ template "cabecalho-publicacao" .}}
           <p>
             {{ template "curtidas" . }}
             {{ template "editar" }}
             {{ template "deletar" }}
           </p>
     </div>
{{ end }}

{{ define "publicacao-sem-permissao" }}
<div class="primaryln text-black p-4 rounded my-4" data-publicacao-id="{{ .ID }}">
  {{ template "cabecalho-publicacao" . }}
  <p>
    {{ template "curtidas" . }}
  </p>
</div>
{{ end }}

